<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{ PRODUCT_NAME }}}</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico">
  <link rel="stylesheet" href="TemplateData/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<style>
  body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: 450px;
  }
  .container.header {
    height: 2em;
  }

  .container.main {
  }
  .container {
    border-radius: 5px;
    background-color: azure;
  }

  .card-img-top {
    height: 4em;
  }
  
  #start-game:hover {
    border: 1px solid black;
  }

  #game-stuff {
    height: 562px;
    border-radius: 0;
    background-color: #231F20;"
  }
  
</style>
<body>

<div class="container main my-2 p-3">

  <h1 class="my-2">{{{ PRODUCT_NAME }}}</h1>

  <div class="card-group my-2">
    <div class="card">
      <div class="card-img-top mx-auto"></div>
      <div class="card-body">
        <h5 class="card-title">Action</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Move</li>
          <li class="list-group-item">Jump</li>
          <li class="list-group-item">Pause</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/keyboard.svg" class="card-img-top mx-auto p-3" alt="image_keyboard">
      <div class="card-body">
        <h7 class="card-title">Keyboard</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">WASD</span><span class="badge bg-secondary">Arrowkeys</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Space</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">P</span><span class="badge m-1 bg-secondary">Escape (also exits Fullscreen)</span></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/smartphone-call.svg" class="card-img-top mx-auto p-3" alt="image_mobile">
      <div class="card-body">
        <h7 class="card-title">Mobile</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Virtual Joystic (left bottom)</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Anywhere on screen (mostly right)</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Use ingame menu</span></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/gamepad.svg" class="card-img-top mx-auto p-3" alt="image_gamepad">
      <div class="card-body">
        <h7 class="card-title">Gamepad</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Left Stick</span><span class="badge bg-secondary">DPad</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">South button (A on most Gamepads)</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Start button</span></li>
        </ul>
      </div>
    </div>
  </div>
  <h3 class="my-2">Description</h3>
  <p>Control a cute turd through the sewers. Don't get slowed down by the floating trash (breaks your multiplier). Jump over or dodge the obstacles.</p>

</div><!-- /.container main -->

<div class="container game my-2 p-3">
  <div class="card-header d-flex justify-content-between">
    <button id="fullscreen-button" class="btn btn-primary">Enter Fullscreen</button>
    <h4>fullscreen is recommended</h4>
    <button id="hide-game" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#game-stuff" aria-expanded="false" aria-controls="game-stuff">
    Hide Game</button>
  </div>
  <div id="game-stuff" class="card p-0 collapse show" >

    <div id="game-content" class="mx-auto p-0">
      <canvas id="unity-canvas"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
    </div>
  </div>
  <p>
    Commit hash: <span id="commit_sha"></span><br>
    Commit Timestamp: <span id="commit_timestamp"></span>
  </p>
</div><!-- /.container game -->

<div class="container Leaderboard my-2 p-3 overflow-auto" style="height: 400px;">
  <h3>Leaderboard</h3>
  <ul id="leaderboard-content" class="list-group">
  </ul>
</div>

<footer class="container">
  <p class="float-end">Sourcecode: <a href="https://gitlab.com/fachschafttf/ludumdare48">Gitlab</a></p>
  <p>Developed for the LududmDare 48 &middot; <a href="https://ldjam.com">ldjam.com</a></p>
  <p>"Icons made by Pixel perfect from www.flaticon.com"</p>
</footer>

<!-- Our own scripts -->
<script src="js/unityloader.js"></script>
<script src="js/getCommitInfo.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
<script src="js/firebaseconfig.js"></script>
<script src="js/firebaseLeaderboard.js"></script>
</body>

</html>